.container {
    height: 15%;
    width: 100%;
    font-weight: 600;
}

.projectsContainer {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projectCard {
    flex-grow: 1;
    flex-basis: 100px;
    margin: 15px;
    padding: 10px;
    border: solid 1px;
    box-shadow: 0 0 1px 1px black;
    border-color: #242424;
    border-radius: 2rem;
    height: 10%;
    
}



