.container{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;


    display: flex;
    

}

.wrap{
    width: 20%;
}
.social{
    display: flex;
    flex-direction: column;
    


}