.container{
    margin: 2rem;
    height: 30%;
    width: 70%;
    
}
.skills{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 50px;
    font-weight: bolder;
 
    
}
.skills div{
    flex-grow: 1;
    flex-basis: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
@media only screen and (max-width: 400px) {
    .skills div{
        flex-basis: 70px;
        min-width: 70px;
    }
}


.skills svg{

}