.container{
    margin: 2rem;
    height: 40%;
    width: 70%;
    
}
.skills{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
 
    
}
.skills div{
    flex-grow: 1;
    flex-basis: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}


.skills svg{
    margin: 10px;
}