.container{
    margin: 2rem;
    height: 30%;
    width: 70%;
    
}
.skillsContainer{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 50px;
    font-weight: bolder; 
    
}
.skillsContainer div{
    flex-grow: 1;
    flex-basis: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.skillsContainer span {
    text-transform: capitalize;
}
@media only screen and (max-width: 430px) {
    .skillsContainer div{
        flex-basis: 70px;
        min-width: 70px;
    }
    .skillsContainer p{
        font-size: small;
    }
}
