.divider{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/image/BackGroundLast.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}
@media only screen and (max-width: 1520px) {
    .divider{
        height: 35vh;
        background-position:bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.container{
    height: 35vh;
    width: 100%;
    background-color: #0B0B0D;
    color: #F9F9F9;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.form h3{
    margin: 1rem;
    padding: 0;
}
.form label{
    margin: 0.5rem;
}
.form input{
    background-color: #F9F9F9 ;
    height: 2rem;
    width: 30%;
    border-radius: 10px; 
}
.form textarea{
    background-color: #F9F9F9;
    margin-bottom: 10px;
    height: 4rem;
    width: 30%;
    border-radius: 10px;
}

@media only screen and (max-width: 976px) {
    .form input{
        width: 50%;
    }
    .form textarea{
        width: 50%;
    }
}

input[type="submit"]{
    height: 3rem;
    width: 10%;
    background-color: #F9F9F9;
    border-radius: 10px;
    font-weight: bold;
}
@media only screen and (max-width: 976px){
    input[type="submit"]{
        width: 40%;
    }
}