.divider{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/image/BackGroundLast.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}
@media only screen and (max-width: 1520px) {
    .divider{
        height: 35vh;
        background-position:bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.container{
    height: 30vh;
    width: 100%;
    background-color: #0B0B0D;
    color: #F9F9F9;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width: 992px) {

}

.label{
    margin: 0;
    padding: 0;
}
.input{
    background-color: #F9F9F9;
    height: 1.5rem;
    width: 35%;
    margin: 2px;
    border-radius: 10px;
}
@media only screen and (max-width: 976px) {
    .input{
        width: 60%;
    }
}

input[type="submit"]{
    height: 2rem;
    background-color: #F9F9F9;
    border-radius: 5px;
    font-family: 'InK Free';
    font-weight: bold;
}