:root {
  font-family: 'Montserrat', system-ui, 'Roboto', 'Poppins';
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color:#242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background: linear-gradient(to right, #F2F2F2, #EAEAEA);
}

body {
 margin: 0;
}


