:root {
  font-family: 'InK Free','Montserrat', system-ui, 'Roboto', 'Poppins';
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  color: #0B0B0D;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

}



body {
  margin: 0;
  padding: 0;
  background-color: #F5E134;
  background-size: 100%;
  background-attachment: fixed;




}

