:root {
  font-family: 'Montserrat', system-ui, 'Roboto', 'Poppins';
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  color:#242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  
}



body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-attachment: fixed;
}
hr{
  border: 0;
  height: 0;
  box-shadow: 0 0 2px 1px #242424;
}
hr:after{
  content: "\00a0";;
}

