.wrapper{
    display: list-item;
    list-style: none;
    height: 500px;
    width: 100%;

}
.container{
   margin: 4rem;
   display:flex;
   justify-content: space-around;
}

.educationContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: start;
}
.educationContainer div{
    flex-grow: 1;
    flex-basis: 155px;
    padding: 1rem;
    border: solid 1px;
    border-radius: 1.5rem;
    box-shadow: 0 0 1px 1px black;
}

.langContainer{
    margin: 2rem;
}
@media only screen and (max-width: 1300px) {
    .container{
        justify-content:baseline;

    }
    .educationContainer{
        width: inherit;
    }
}

@media only screen and (max-width: 680px){
    .wrapper{
        height: 800px;
    }
}