.container{
    margin: 2rem;
    height: 600px;
    width: 70%;
}

.educationContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: start;
}
.educationContainer div{
    flex-grow: 1;
    flex-basis: 80px;
    padding: 1rem;
    border: solid;
    border-radius: 1.5rem;
}

.langContainer{
    height: 100px;
    width: 70%;
    
}